<nav class="navbar navbar-inverse">
  <h1>Workouts</h1>
</nav>
<div class="col-md-3">
  <h2>Workouts</h2>
    <%= simple_form_for([current_user, @workout] ) do |f| %>
        <%= f.select :cardio, @cardio_options %>
        <%= f.select :upper_body, @upper_body_options %>
        <%= f.select :lower_body, @lower_body_options %>
      <%= f.submit %>
    <% end %>
</div>

