<div class="login-container">
</div>

<div class="registration">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
      <%= f.input :email, required: true, autofocus: true, class: "btn btn-info" %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable), class: "btn btn-info" %>
      <%= f.input :password_confirmation, required: true , class: "btn-info" %>
    <div class="signin-submit">
      <%= f.button :submit, "Register", class: "fa fa-sign-in fa-2x btn btn-info" %>
    </div>

    <% end %>
</div>


