<h1>Welcome to Spartan</h1>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag"Snatch.png", alt: "Snatch" %>
      <div class="carousel-caption">
          <h3>Fitness</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "Nutrition.png", alt: "Nutrition" %>
      <div class="carousel-caption">
          <h3>Nutrition</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "Music.png", alt: "Music" %>
      <div class="carousel-caption">
          <h3>Music</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "Mitts.png", alt:"Exhausted" %>
      <div class="carousel-caption">
          <h3>Social</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "Exhausted.png", alt:"Progress" %>
      <div class="carousel-caption">
          <h3>Track Progress</h3>
      </div>
    </div>
  </div>

  <ul class="nav navbar-nav">
                <li class="active"></li>
                <li><a href="#workouts"><%= link_to "Sign-In", user_workouts_path(current_user.id, @workouts), class: "fa fa-sign-in fa-3x" %></a></li>
                <li><a href="#meals"><%= link_to "Register", user_meals_path(current_user.id, @meals), class: "fa fa-cutlery fa-3x" %></a></li>
                <li><a href="#meals"><%= link_to "About", user_meals_path(current_user.id, @meals), class: "fa fa-info-circle fa-3x" %></a></li>

  </ul>
