<h1>Welcome to Spartan</h1>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag"Snatch.png", alt: "Snatch" %>
      <div class="carousel-caption">
          <h2>Fitness</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag "Nutrition.png", alt: "Nutrition" %>
      <div class="carousel-caption">
          <h2>Nutrition</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag "Music.png", alt: "Music" %>
      <div class="carousel-caption">
          <h2>Music</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag "Mitts.png", alt:"Exhausted" %>
      <div class="carousel-caption">
          <h2>Social</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag "Exhausted.png", alt:"Progress" %>
      <div class="carousel-caption">
          <h2>Track Progress</h2>
      </div>
    </div>
  </div>
  <div class="">
    <ul class="nav navbar-nav">
              <li class="active"></li>
                <li><a href="#signin"><%= link_to "Sign-In", new_user_session_path, class: "fa fa-sign-in fa-3x" %></a></li>
                <li><a href="#register"><%= link_to "Register", new_user_registration_path, class: "fa fa-cutlery fa-3x" %></a></li>



    </ul>
  </div>
