
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><h3>Spartan</h3></a>
            </div>
            <div class="navbar-collapse collapse">
              <div class="right-inner-addon pull-right">

              </div>
              <ul class="nav navbar-nav">
                <li class="active"></li>
                <li><a href="#workouts"><%= link_to "", user_workouts_path(current_user.id, @workouts), class: "fa fa-bicycle fa-2x" %></a></li>
                <li><a href="#meals"><%= link_to "", user_meals_path(current_user.id, @meals), class: "fa fa-cutlery fa-2x" %></a></li>
                <li><a href="#playlist"><%= link_to '', users_path(current_user.id), class: "fa fa-headphones fa-2x" %></a></li>
                <li><a href="signout"><%= link_to '', destroy_user_session_path, method: :delete, class: "fa fa-sign-out fa-2x" %></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>



<div class="col-md-4">
  <li><a href="workout-icon">
    <%= link_to "", new_user_workout_path(current_user.id, @workouts), class: "fa fa-bicycle fa-5x" %></a>
      <p>Plan Your Workout</p>
  </li>
<div class="col-md-4">
  <li><a href="meal-icon">
    <%= link_to "", new_user_meal_path(current_user.id, @meals), class: "fa fa-cutlery fa-5x" %></a>
      <p>Plan Your Meal</p>
  </li>
</div>
<div class="col-md-4">
  <li><a href="music-icon">
    <%= link_to "", users_path(current_user.id), class: "fa fa-headphones fa-5x" %></a>
      <p>Music Playlist</p>
      <iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A2lkQd5T32QHDOfFkEIPJKz" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

      <iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A5PW8nAtvf2HV8RYZFd4IrX" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  </li>
</div>
<div class="col-md-4">
  <li><a href="sign-out-icon">
    <%= link_to "", destroy_user_session_path, method: :delete, class: "fa fa-sign-out fa-5x" %></a>
  </li>
</div>
  </div>
