<div class="signin-container">
</div>
<div class="form-signin">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :email, required: false, autofocus: true %>
  <%= f.input :password, required: false %>
  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
</div>
<div class="signin-submit">
  <%= f.button :submit, "Sign-In", class: "fa fa-sign-in fa-2x btn btn-info" %>

  <%= link_to "Register", new_user_registration_path, class: "fa fa-sign-in fa-2x btn btn-success" %>

  <%= link_to "Forgot Password", edit_user_password_path, class: "fa fa-question-circle fa-2x btn btn-danger" %>
</div>



        <% end %>








